#root{
    max-width : 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1{
    background-color: grey;
    color: black;
    font-size: larger;
}

.box{
    width: 800px;
    height: 600px;
    
}

.box1{
    width:800px;
    height:200px;
    background-color: orange;
}
.box2{
    width:800px;
    height:200px;
    background-color: white;
}
.box3{
    width:800px;
    height:200px;
    background-color: green;
}